CalculatorLib/PatientAdminConsole/Connected Services/PatientDataServiceReference/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModelsLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModelsLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPatientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientInfo" nillable="true" type="tns:PatientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientInfo" nillable="true" type="tns:ArrayOfPatientInfo" />
  <xs:complexType name="PatientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientInfo" nillable="true" type="tns:PatientInfo" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>