CalculatorLib/PatientAdminConsole/Connected Services/PatientDataServiceReference/PatientDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8004/patientDatService/metadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8004/patientDatService/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8004/patientDatService/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModelsLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientDataService_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_AddNewPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatient" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_AddNewPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_RemovePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePatient" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_RemovePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_UpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IPatientDataService_UpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientDataService">
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientDataService/GetAllPatients" message="tns:IPatientDataService_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientDataService/GetAllPatientsResponse" message="tns:IPatientDataService_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientDataService/AddNewPatient" message="tns:IPatientDataService_AddNewPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientDataService/AddNewPatientResponse" message="tns:IPatientDataService_AddNewPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientDataService/RemovePatient" message="tns:IPatientDataService_RemovePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientDataService/RemovePatientResponse" message="tns:IPatientDataService_RemovePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientDataService/UpdatePatient" message="tns:IPatientDataService_UpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientDataService/UpdatePatientResponse" message="tns:IPatientDataService_UpdatePatient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPatientDataService" type="tns:IPatientDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPatients">
      <soap:operation soapAction="http://tempuri.org/IPatientDataService/GetAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPatient">
      <soap:operation soapAction="http://tempuri.org/IPatientDataService/AddNewPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePatient">
      <soap:operation soapAction="http://tempuri.org/IPatientDataService/RemovePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/IPatientDataService/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientDataService">
    <wsdl:port name="BasicHttpBinding_IPatientDataService" binding="tns:BasicHttpBinding_IPatientDataService">
      <soap:address location="http://localhost:8003/webep" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>